In [1]:
pip install scikit-surprise

Requirement already satisfied: scikit-surprise in c:\users\hong\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (1.18.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install scikit-surprise

Requirement already satisfied: scikit-surprise in c:\users\hong\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: joblib>=0.11 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (1.18.1)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in c:\users\hong\anaconda3\lib\site-packages (from scikit-surprise) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from surprise import SVD,accuracy
from surprise import Reader, Dataset

In [4]:
# userid와 메뉴에 대한 평점이 저장된 csv파일을 불러옵니다.
rating = pd.read_csv("./data/menu_rating.csv")

In [5]:
rating.head()

  user menu  rating
0    A  메뉴1       3
1    A  메뉴2       4
2    A  메뉴3       3
3    A  메뉴4       5
4    A  메뉴5       3

In [6]:
rating['user'].value_counts()

A    20
N     7
H     7
K     7
M     7
S     7
Q     7
E     7
T     7
L     7
G     7
I     6
C     6
O     6
J     6
B     6
D     5
R     5
F     5
P     5
Name: user, dtype: int64

In [7]:
rating['menu'].value_counts()

메뉴11    9
메뉴18    9
메뉴14    9
메뉴12    9
메뉴15    9
메뉴16    9
메뉴8     8
메뉴9     8
메뉴1     8
메뉴7     7
메뉴3     7
메뉴6     7
메뉴19    7
메뉴5     6
메뉴20    5
메뉴13    5
메뉴17    5
메뉴4     5
메뉴2     4
메뉴10    4
Name: menu, dtype: int64

In [8]:
rating

    user  menu  rating
0      A   메뉴1       3
1      A   메뉴2       4
2      A   메뉴3       3
3      A   메뉴4       5
4      A   메뉴5       3
..   ...   ...     ...
135    T  메뉴14       4
136    T  메뉴16       2
137    T  메뉴18       4
138    T  메뉴19       1
139    T  메뉴20       5

[140 rows x 3 columns]

In [9]:
# 인덱스를 userid로, 컬럼을 menu로 하는 dataframe을 생성합니다.
tab = pd.crosstab(rating['user'],rating['menu'])

In [10]:
tab

menu,메뉴1,메뉴10,메뉴11,메뉴12,메뉴13,메뉴14,메뉴15,메뉴16,메뉴17,메뉴18,메뉴19,메뉴2,메뉴20,메뉴3,메뉴4,메뉴5,메뉴6,메뉴7,메뉴8,메뉴9
user,,,,,,,,,,,,,,,,,,,,
A,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
B,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1
C,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1
D,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1
E,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,1,1
F,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,0
G,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,1,1,1
H,1,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,1,1
I,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,1,1,1
J,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,0
K,0,0,1,1,1,0,1,1,0,1,1,0,0,0,0,0,0,0,0,0
L,0,0,0,1,1,1,1,0,1,0,1,0,1,0,0,0,0,0,0,0
M,0,0,1,0,0,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0
N,0,0,1,1,0,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0
O,0,0,1,1,0,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0
P,0,0,0,1,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0
Q,0,0,1,1,0,1,0,1,0,1,1,0,1,0,0,0,0,0,0,0
R,0,0,0,0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,0,0
S,0,0,1,1,1,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0
T,0,0,1,1,0,1,0,1,0,1,1,0,1,0,0,0,0,0,0,0

In [11]:
#두개의 집단 변수를 가지고 나머지 rating을 그룹화

In [12]:
rating_g = rating.groupby(['user','menu'])

In [13]:
rating_g.all()

           rating
user menu
A    메뉴1     True
     메뉴10    True
     메뉴11    True
     메뉴12    True
     메뉴13    True
...           ...
T    메뉴14    True
     메뉴16    True
     메뉴18    True
     메뉴19    True
     메뉴20    True

[140 rows x 1 columns]

In [14]:
rating_g.sum()

           rating
user menu
A    메뉴1        3
     메뉴10       5
     메뉴11       3
     메뉴12       4
     메뉴13       3
...           ...
T    메뉴14       4
     메뉴16       2
     메뉴18       4
     메뉴19       1
     메뉴20       5

[140 rows x 1 columns]

In [15]:
tab = rating_g.sum().unstack() # 그룹화 된 데이터프레임을 행렬구조로 변환합니다.

In [16]:
tab

     rating                                                                   \
menu    메뉴1 메뉴10 메뉴11 메뉴12 메뉴13 메뉴14 메뉴15 메뉴16 메뉴17 메뉴18 메뉴19  메뉴2 메뉴20  메뉴3
user
A       3.0  5.0  3.0  4.0  3.0  5.0  3.0  3.0  4.0  5.0  2.0  4.0  5.0  3.0
B       2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
C       2.0  4.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  4.0  NaN  NaN
D       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0
E       2.0  2.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  5.0
F       5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0
G       5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  3.0  NaN  5.0
H       5.0  5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0
I       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  2.0  NaN  5.0
J       5.0  NaN  5.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
K       NaN  NaN  2.0  5.0  4.0  NaN  1.0  5.0  NaN  2.0  3.0  NaN  NaN  NaN
L       NaN  NaN  NaN  3.0  3.0  4.0  5.0  NaN  5.0  NaN  5.0  NaN  1.0  NaN
M       NaN  NaN  5.0  NaN  NaN  2.0  4.0  1.0  4.0  1.0  4.0  NaN  NaN  NaN
N       NaN  NaN  5.0  1.0  NaN  3.0  2.0  5.0  4.0  1.0  NaN  NaN  NaN  NaN
O       NaN  NaN  2.0  5.0  NaN  1.0  4.0  NaN  5.0  NaN  5.0  NaN  NaN  NaN
P       NaN  NaN  NaN  2.0  NaN  5.0  1.0  4.0  NaN  2.0  NaN  NaN  NaN  NaN
Q       NaN  NaN  1.0  5.0  NaN  2.0  NaN  1.0  NaN  4.0  1.0  NaN  5.0  NaN
R       NaN  NaN  NaN  NaN  5.0  5.0  2.0  2.0  NaN  1.0  NaN  NaN  NaN  NaN
S       NaN  NaN  2.0  5.0  5.0  NaN  5.0  1.0  NaN  2.0  NaN  NaN  5.0  NaN
T       NaN  NaN  1.0  4.0  NaN  4.0  NaN  2.0  NaN  4.0  1.0  NaN  5.0  NaN


menu  메뉴4  메뉴5  메뉴6  메뉴7  메뉴8  메뉴9
user
A     5.0  3.0  3.0  4.0  5.0  2.0
B     NaN  5.0  1.0  5.0  3.0  5.0
C     NaN  1.0  NaN  4.0  NaN  1.0
D     NaN  5.0  1.0  5.0  NaN  3.0
E     NaN  NaN  4.0  1.0  5.0  3.0
F     1.0  NaN  4.0  NaN  1.0  NaN
G     NaN  5.0  NaN  5.0  2.0  2.0
H     4.0  NaN  5.0  NaN  2.0  5.0
I     1.0  NaN  NaN  3.0  2.0  4.0
J     1.0  4.0  2.0  NaN  4.0  NaN
K     NaN  NaN  NaN  NaN  NaN  NaN
L     NaN  NaN  NaN  NaN  NaN  NaN
M     NaN  NaN  NaN  NaN  NaN  NaN
N     NaN  NaN  NaN  NaN  NaN  NaN
O     NaN  NaN  NaN  NaN  NaN  NaN
P     NaN  NaN  NaN  NaN  NaN  NaN
Q     NaN  NaN  NaN  NaN  NaN  NaN
R     NaN  NaN  NaN  NaN  NaN  NaN
S     NaN  NaN  NaN  NaN  NaN  NaN
T     NaN  NaN  NaN  NaN  NaN  NaN

In [17]:
#rating 데이터셋 생성

In [18]:
reader = Reader(rating_scale=(1,5)) #평점의 범위를 정하기 위해 평점을 포함한 파일을 파싱하는 Reader클래스를 사용합니다.
data = Dataset.load_from_df(df=rating,reader=reader) #rating이라는 데이터프레임은 reader(1~5)의 평점 범위를 갖는다.

In [19]:
train = data.build_full_trainset() #훈련셋
test = train.build_testset() #검정셋

In [20]:
# SVD를 사용한 모델 생성
model = SVD(n_factors = 100, n_epochs = 20, random_state = 123)
model.fit(train) #모델 생성

In [21]:
all_menu= set()
for x in list(rating['menu']):
    all_menu.add(x)
    
all_menu= list(all_menu)

In [22]:
user_id = 'C' #추천 대상자
item_ids = all_menu #추천대상 메뉴
actual_rating = 0 #실제평점

In [23]:
for item_id in item_ids :
    print(model.predict(user_id,item_id,actual_rating))

user: C          item: 메뉴4        r_ui = 0.00   est = 2.48   {'was_impossible': False}
user: C          item: 메뉴17       r_ui = 0.00   est = 3.34   {'was_impossible': False}
user: C          item: 메뉴7        r_ui = 0.00   est = 3.41   {'was_impossible': False}
user: C          item: 메뉴1        r_ui = 0.00   est = 2.92   {'was_impossible': False}
user: C          item: 메뉴6        r_ui = 0.00   est = 2.73   {'was_impossible': False}
user: C          item: 메뉴13       r_ui = 0.00   est = 3.09   {'was_impossible': False}
user: C          item: 메뉴3        r_ui = 0.00   est = 2.99   {'was_impossible': False}
user: C          item: 메뉴14       r_ui = 0.00   est = 3.07   {'was_impossible': False}
user: C          item: 메뉴19       r_ui = 0.00   est = 2.76   {'was_impossible': False}
user: C          item: 메뉴15       r_ui = 0.00   est = 2.78   {'was_impossible': False}
user: C          item: 메뉴20       r_ui = 0.00   est = 3.03   {'was_impossible': False}
user: C          item: 메뉴11       r_ui = 0.00   est = 2.74   {'was_impossible': False}
user: C          item: 메뉴18       r_ui = 0.00   est = 2.41   {'was_impossible': False}
user: C          item: 메뉴2        r_ui = 0.00   est = 3.13   {'was_impossible': False}
user: C          item: 메뉴16       r_ui = 0.00   est = 2.87   {'was_impossible': False}
user: C          item: 메뉴5        r_ui = 0.00   est = 2.87   {'was_impossible': False}
user: C          item: 메뉴9        r_ui = 0.00   est = 2.54   {'was_impossible': False}
user: C          item: 메뉴10       r_ui = 0.00   est = 3.31   {'was_impossible': False}
user: C          item: 메뉴12       r_ui = 0.00   est = 3.15   {'was_impossible': False}
user: C          item: 메뉴8        r_ui = 0.00   est = 2.65   {'was_impossible': False}

In [24]:
import numpy as np
import warnings

In [25]:
warnings.filterwarnings('ignore')

In [26]:
import csv

In [27]:
data = pd.read_csv('./data/menu_rating.csv',encoding="utf-8",error_bad_lines=False, sep=",")

In [28]:
print(data.shape)

(140, 3)

In [29]:
data.head()

  user menu  rating
0    A  메뉴1       3
1    A  메뉴2       4
2    A  메뉴3       3
3    A  메뉴4       5
4    A  메뉴5       3

In [30]:
df= data[['user','menu','rating']]

In [31]:
df

    user  menu  rating
0      A   메뉴1       3
1      A   메뉴2       4
2      A   메뉴3       3
3      A   메뉴4       5
4      A   메뉴5       3
..   ...   ...     ...
135    T  메뉴14       4
136    T  메뉴16       2
137    T  메뉴18       4
138    T  메뉴19       1
139    T  메뉴20       5

[140 rows x 3 columns]

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   user    140 non-null    object
 1   menu    140 non-null    object
 2   rating  140 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.4+ KB

In [33]:
#데이터 추출을 위해 데이터형태를 데이터프레임에서 딕셔너리로 바꿔줍니다.

In [34]:
def recur_dictify(frame):
    if len(frame.columns) == 1:
        if frame.values.size == 1: return frame.values[0][0]
        return frame.values.squeeze()
    grouped = frame.groupby(frame.columns[0])
    d = {k:recur_dictify(g.iloc[:,1:]) for k,g in grouped}
    return d

In [35]:
df_to_dict = recur_dictify(df)

In [36]:
df_to_dict

{'A': {'메뉴1': 3,
  '메뉴10': 5,
  '메뉴11': 3,
  '메뉴12': 4,
  '메뉴13': 3,
  '메뉴14': 5,
  '메뉴15': 3,
  '메뉴16': 3,
  '메뉴17': 4,
  '메뉴18': 5,
  '메뉴19': 2,
  '메뉴2': 4,
  '메뉴20': 5,
  '메뉴3': 3,
  '메뉴4': 5,
  '메뉴5': 3,
  '메뉴6': 3,
  '메뉴7': 4,
  '메뉴8': 5,
  '메뉴9': 2},
 'B': {'메뉴1': 2, '메뉴5': 5, '메뉴6': 1, '메뉴7': 5, '메뉴8': 3, '메뉴9': 5},
 'C': {'메뉴1': 2, '메뉴10': 4, '메뉴2': 4, '메뉴5': 1, '메뉴7': 4, '메뉴9': 1},
 'D': {'메뉴3': 2, '메뉴5': 5, '메뉴6': 1, '메뉴7': 5, '메뉴9': 3},
 'E': {'메뉴1': 2, '메뉴10': 2, '메뉴3': 5, '메뉴6': 4, '메뉴7': 1, '메뉴8': 5, '메뉴9': 3},
 'F': {'메뉴1': 5, '메뉴3': 1, '메뉴4': 1, '메뉴6': 4, '메뉴8': 1},
 'G': {'메뉴1': 5, '메뉴2': 3, '메뉴3': 5, '메뉴5': 5, '메뉴7': 5, '메뉴8': 2, '메뉴9': 2},
 'H': {'메뉴1': 5, '메뉴10': 5, '메뉴3': 1, '메뉴4': 4, '메뉴6': 5, '메뉴8': 2, '메뉴9': 5},
 'I': {'메뉴2': 2, '메뉴3': 5, '메뉴4': 1, '메뉴7': 3, '메뉴8': 2, '메뉴9': 4},
 'J': {'메뉴1': 5, '메뉴11': 5, '메뉴4': 1, '메뉴5': 4, '메뉴6': 2, '메뉴8': 4},
 'K': {'메뉴11': 2,
  '메뉴12': 5,
  '메뉴13': 4,
  '메뉴15': 1,
  '메뉴16': 5,
  '메뉴18': 2,
  '메뉴19': 3},
 'L': {'메뉴12': 3,
  '메뉴13': 3,
  '메뉴14': 4,
  '메뉴15': 5,
  '메뉴17': 5,
  '메뉴19': 5,
  '메뉴20': 1},
 'M': {'메뉴11': 5,
  '메뉴14': 2,
  '메뉴15': 4,
  '메뉴16': 1,
  '메뉴17': 4,
  '메뉴18': 1,
  '메뉴19': 4},
 'N': {'메뉴11': 5,
  '메뉴12': 1,
  '메뉴14': 3,
  '메뉴15': 2,
  '메뉴16': 5,
  '메뉴17': 4,
  '메뉴18': 1},
 'O': {'메뉴11': 2, '메뉴12': 5, '메뉴14': 1, '메뉴15': 4, '메뉴17': 5, '메뉴19': 5},
 'P': {'메뉴12': 2, '메뉴14': 5, '메뉴15': 1, '메뉴16': 4, '메뉴18': 2},
 'Q': {'메뉴11': 1,
  '메뉴12': 5,
  '메뉴14': 2,
  '메뉴16': 1,
  '메뉴18': 4,
  '메뉴19': 1,
  '메뉴20': 5},
 'R': {'메뉴13': 5, '메뉴14': 5, '메뉴15': 2, '메뉴16': 2, '메뉴18': 1},
 'S': {'메뉴11': 2,
  '메뉴12': 5,
  '메뉴13': 5,
  '메뉴15': 5,
  '메뉴16': 1,
  '메뉴18': 2,
  '메뉴20': 5},
 'T': {'메뉴11': 1,
  '메뉴12': 4,
  '메뉴14': 4,
  '메뉴16': 2,
  '메뉴18': 4,
  '메뉴19': 1,
  '메뉴20': 5}}

In [37]:
name_list = [] #사용자 목록을 담을 리스트 #중복 불가
menu_set = set() #메뉴 목록을 담을 셋 #중복 가능

In [38]:
for user_key in df_to_dict:
    print(user_key)
    name_list.append(user_key)
    
    #현재 사용자가 평점을 매긴 메뉴를 set에 담는다
    for menu_key in df_to_dict[user_key]:
        print(user_key,":",menu_key)
        menu_set.add(menu_key)

A
A : 메뉴1
A : 메뉴10
A : 메뉴11
A : 메뉴12
A : 메뉴13
A : 메뉴14
A : 메뉴15
A : 메뉴16
A : 메뉴17
A : 메뉴18
A : 메뉴19
A : 메뉴2
A : 메뉴20
A : 메뉴3
A : 메뉴4
A : 메뉴5
A : 메뉴6
A : 메뉴7
A : 메뉴8
A : 메뉴9
B
B : 메뉴1
B : 메뉴5
B : 메뉴6
B : 메뉴7
B : 메뉴8
B : 메뉴9
C
C : 메뉴1
C : 메뉴10
C : 메뉴2
C : 메뉴5
C : 메뉴7
C : 메뉴9
D
D : 메뉴3
D : 메뉴5
D : 메뉴6
D : 메뉴7
D : 메뉴9
E
E : 메뉴1
E : 메뉴10
E : 메뉴3
E : 메뉴6
E : 메뉴7
E : 메뉴8
E : 메뉴9
F
F : 메뉴1
F : 메뉴3
F : 메뉴4
F : 메뉴6
F : 메뉴8
G
G : 메뉴1
G : 메뉴2
G : 메뉴3
G : 메뉴5
G : 메뉴7
G : 메뉴8
G : 메뉴9
H
H : 메뉴1
H : 메뉴10
H : 메뉴3
H : 메뉴4
H : 메뉴6
H : 메뉴8
H : 메뉴9
I
I : 메뉴2
I : 메뉴3
I : 메뉴4
I : 메뉴7
I : 메뉴8
I : 메뉴9
J
J : 메뉴1
J : 메뉴11
J : 메뉴4
J : 메뉴5
J : 메뉴6
J : 메뉴8
K
K : 메뉴11
K : 메뉴12
K : 메뉴13
K : 메뉴15
K : 메뉴16
K : 메뉴18
K : 메뉴19
L
L : 메뉴12
L : 메뉴13
L : 메뉴14
L : 메뉴15
L : 메뉴17
L : 메뉴19
L : 메뉴20
M
M : 메뉴11
M : 메뉴14
M : 메뉴15
M : 메뉴16
M : 메뉴17
M : 메뉴18
M : 메뉴19
N
N : 메뉴11
N : 메뉴12
N : 메뉴14
N : 메뉴15
N : 메뉴16
N : 메뉴17
N : 메뉴18
O
O : 메뉴11
O : 메뉴12
O : 메뉴14
O : 메뉴15
O : 메뉴17
O : 메뉴19
P
P : 메뉴12
P : 메뉴14
P : 메뉴15
P : 메뉴16
P : 메뉴18
Q
Q : 메뉴11
Q : 메뉴12
Q : 메뉴14
Q : 메뉴16
Q : 메뉴18
Q : 메뉴19
Q : 메뉴20
R
R : 메뉴13
R : 메뉴14
R : 메뉴15
R : 메뉴16
R : 메뉴18
S
S : 메뉴11
S : 메뉴12
S : 메뉴13
S : 메뉴15
S : 메뉴16
S : 메뉴18
S : 메뉴20
T
T : 메뉴11
T : 메뉴12
T : 메뉴14
T : 메뉴16
T : 메뉴18
T : 메뉴19
T : 메뉴20

In [39]:
menu_list = list(menu_set)

In [40]:
menu_list

['메뉴4',
 '메뉴17',
 '메뉴7',
 '메뉴1',
 '메뉴6',
 '메뉴13',
 '메뉴3',
 '메뉴14',
 '메뉴19',
 '메뉴15',
 '메뉴20',
 '메뉴11',
 '메뉴18',
 '메뉴16',
 '메뉴2',
 '메뉴5',
 '메뉴9',
 '메뉴10',
 '메뉴12',
 '메뉴8']

In [41]:
#협업필터링 추천 시스템에 사용할 rating 딕셔너리 만들기(user,menu,rating)

In [42]:
#학습할 데이터 준비
rating_dic = {
    'user':[],
    'menu':[],
    'rating':[]
}

In [43]:
#사용자 수 만큼 반복
for name_key in df_to_dict:
    for menu_key in df_to_dict[name_key]:
        #사용자 인덱스 번호 추출
        a1 = name_list.index(name_key)
        
        #메뉴 인덱스 번호 추출
        a2 = menu_list.index(menu_key)
        
        #평점 가져오기
        a3 = df_to_dict[name_key][menu_key]
        
        #딕셔너리에 추가하기
        rating_dic['user'].append(a1)
        rating_dic['menu'].append(a2)
        rating_dic['rating'].append(a3)

In [44]:
print(len(rating_dic['user']))
print(len(rating_dic['menu']))
print(len(rating_dic['rating']))

140
140
140

In [45]:
print((rating_dic['user']))
print((rating_dic['menu']))
print((rating_dic['rating']))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19]
[3, 17, 11, 18, 5, 7, 9, 13, 1, 12, 8, 14, 10, 6, 0, 15, 4, 2, 19, 16, 3, 15, 4, 2, 19, 16, 3, 17, 14, 15, 2, 16, 6, 15, 4, 2, 16, 3, 17, 6, 4, 2, 19, 16, 3, 6, 0, 4, 19, 3, 14, 6, 15, 2, 19, 16, 3, 17, 6, 0, 4, 19, 16, 14, 6, 0, 2, 19, 16, 3, 11, 0, 15, 4, 19, 11, 18, 5, 9, 13, 12, 8, 18, 5, 7, 9, 1, 8, 10, 11, 7, 9, 13, 1, 12, 8, 11, 18, 7, 9, 13, 1, 12, 11, 18, 7, 9, 1, 8, 18, 7, 9, 13, 12, 11, 18, 7, 13, 12, 8, 10, 5, 7, 9, 13, 12, 11, 18, 5, 9, 13, 12, 10, 11, 18, 7, 13, 12, 8, 10]
[3, 5, 3, 4, 3, 5, 3, 3, 4, 5, 2, 4, 5, 3, 5, 3, 3, 4, 5, 2, 2, 5, 1, 5, 3, 5, 2, 4, 4, 1, 4, 1, 2, 5, 1, 5, 3, 2, 2, 5, 4, 1, 5, 3, 5, 1, 1, 4, 1, 5, 3, 5, 5, 5, 2, 2, 5, 5, 1, 4, 5, 2, 5, 2, 5, 1, 3, 2, 4, 5, 5, 1, 4, 2, 4, 2, 5, 4, 1, 5, 2, 3, 3, 3, 4, 5, 5, 5, 1, 5, 2, 4, 1, 4, 1, 4, 5, 1, 3, 2, 5, 4, 1, 2, 5, 1, 4, 5, 5, 2, 5, 1, 4, 2, 1, 5, 2, 1, 4, 1, 5, 5, 5, 2, 2, 1, 2, 5, 5, 5, 1, 2, 5, 1, 4, 4, 2, 4, 1, 5]

In [46]:
df = pd.DataFrame(rating_dic)

In [47]:
df

     user  menu  rating
0       0     3       3
1       0    17       5
2       0    11       3
3       0    18       4
4       0     5       3
..    ...   ...     ...
135    19     7       4
136    19    13       2
137    19    12       4
138    19     8       1
139    19    10       5

[140 rows x 3 columns]

In [48]:
reader

In [49]:
# 학습하기 : surprise.KNNBasic

In [50]:
# surprise에서 사용할 데이터 셋을 구성할 때 필요한 이름들은
# 데이터가 저장되어 있는 딕셔너리의 컬럼 이름들이다.
# 첫번째 -> user 두번쨰 -> menu 세번째 ->rating
# 즉, 컬럼명의 리스트가 필요하다.
col_list = ['user','menu','rating']
data = Dataset.load_from_df(df[col_list],reader)

In [51]:
print(col_list)

['user', 'menu', 'rating']

In [52]:
print(data)

<surprise.dataset.DatasetAutoFolds object at 0x00000214A52C2048>

In [53]:
import surprise

In [54]:
trainset = data.build_full_trainset()# 전체 데이터셋으로부터 fold를 나누지 않고 훈련셋을 리턴한다.
option = {'name':'pearson'}
algo = surprise.KNNBasic(sim_options = option) #사용된 머신러닝 알고리즘 : KNNBasic, 유사도 측정방법 : 피어슨 상관계수

algo.fit(trainset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [55]:
# 예측 :CF추천시스템

In [56]:
# 사용자 C의 메뉴 추천받기
new_user = 'D'

In [57]:
index = name_list.index(new_user)

In [58]:
result = algo.get_neighbors(index, k=3) #최근접 이웃 3명을 찾는다.

In [59]:
result

[9, 1, 2]

In [84]:
recommend_list = []
for r1 in result:
    max_rating = data.df[data.df['user']==r1]['rating'].max() #대부분 아마 5점일 것이다.
    print(max_rating)
    menu_id = data.df[(data.df['rating']==max_rating)&(data.df['user']==r1)]['menu'].values #5점 준 메뉴들을 찾는다.
    print(r1,menu_id) #최근접 이웃 3명의 user인덱스와 그 user들이 최고점을 준 메뉴들을 출력한다.
    for menu_item in menu_id:
        print(menu_list[menu_item])
        recommend_list.append(menu_list[menu_item])
#         recommend_set.add(menu_list[menu_item])
# 원래는 set으로 하려 했으나 1~3위까지의 추천을 위한 중복된 데이터의 개수를 세기 위해 리스트로 구현할 것이다.

count_menu = list(menu_set)
count = list(np.zeros((20,), dtype=int))
print(recommend_list)
count_dic = {}
for i in count_menu:
    count_dic[i]=0
    
print(count_dic)

def f1(x):
    return count_dic[x]

best_recommended = 0

for menu in recommend_list:
    count_dic[menu]+=1
    
print(count_dic)
    
first = max(count_dic.keys(), key=f1)
del count_dic[first]
second = max(count_dic.keys(), key=f1)
del count_dic[second]
third = max(count_dic.keys(), key=f1)
print( first, second, third)

5
9 [ 3 11]
메뉴1
메뉴11
5
1 [15  2 16]
메뉴5
메뉴7
메뉴9
4
2 [17 14  2]
메뉴10
메뉴2
메뉴7
['메뉴1', '메뉴11', '메뉴5', '메뉴7', '메뉴9', '메뉴10', '메뉴2', '메뉴7']
{'메뉴4': 0, '메뉴17': 0, '메뉴7': 0, '메뉴1': 0, '메뉴6': 0, '메뉴13': 0, '메뉴3': 0, '메뉴14': 0, '메뉴19': 0, '메뉴15': 0, '메뉴20': 0, '메뉴11': 0, '메뉴18': 0, '메뉴16': 0, '메뉴2': 0, '메뉴5': 0, '메뉴9': 0, '메뉴10': 0, '메뉴12': 0, '메뉴8': 0}
{'메뉴4': 0, '메뉴17': 0, '메뉴7': 2, '메뉴1': 1, '메뉴6': 0, '메뉴13': 0, '메뉴3': 0, '메뉴14': 0, '메뉴19': 0, '메뉴15': 0, '메뉴20': 0, '메뉴11': 1, '메뉴18': 0, '메뉴16': 0, '메뉴2': 1, '메뉴5': 1, '메뉴9': 1, '메뉴10': 1, '메뉴12': 0, '메뉴8': 0}
메뉴7 메뉴1 메뉴11

In [61]:
list(count)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [62]:
# #피어슨 상관계수 설명
# def sim_pearson(data,name1,name2):
#     avg_name1 = 0
#     avg_name2 = 0
#     count = 0
#     for menu in data[name1]:
#         if menu in data[name2]: # 사람1과 사람2가 둘 다 평가한 메뉴들의
#             avg_name1 = data[name1][menu]
#             avg_name2 = data[name2][menu]
#             count += 1
            
#     avg_name1 = avg_name1 / count
#     avg_name2 = avg_name2 / count # 평균 평점 구하기
    
#     sum_name1 = 0
#     sum_name2 = 0
#     sum_name1_name2 = 0
#     count = 0
    
#     for menu in data[name1]:
#         if menu in data[name2]:
#             sum_name1 += pow(data[name1][menu] - avg_name1, 2)
#             sum_name2 += pow(data[name2][menu] - avg_name2, 2)
#             sum_name1_name2 += (data[name1][menu] - avg_name1) * (data[name2][menu] - avg_name2)
            
#     return sum_name1_name2 / (math.sqrt(sum_name1)*math.sqrt(sum_name2))